header {
  background: linear-gradient(97deg, #0d0d0e 60%, #1ca9b4 71%, #931190 84%, #e4e32e 95%);
}

.logo {
  padding: 15px;
  height: 100px;
}

h1 {
  font-family: quicksand;
  font-weight: bold;
  color: whitesmoke;
  font-size: 35px;
  text-align: center;
}

.nosotros {
  background: linear-gradient(97deg, black 0%, #753068 100%);
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 50px 20px 50px 20px;
  overflow: hidden;
  padding: 20px;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 2px solid #5878ca;
}

section {
  text-align: center;
}

.textStyle {
  font-weight: lighter;
  color: aquamarine;
}

body {
  color: white;
  background: #0d0d0e;
  background-size: 500%;
  background-position: center;
}

footer {
  font-family: 'Times New Roman';
  font-size: 20px;
  text-align: center;
  color: whitesmoke;
  background: linear-gradient(97deg, #0d0d0e 60%, #1ca9b4 71%, #931190 84%, #e4e32e 95%);
}

footer .logoFooter {
  height: 50px;
}

footer div {
  padding: 0px 0px 10px 0px;
}

.tituloImg {
  background: linear-gradient(97deg, black 0%, #753068 100%);
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  overflow: hidden;
  padding: 20px;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 2px solid #5878ca;
  padding: 6px;
  border-style: double;
  margin: 10px auto;
}

.flex-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section a {
  font-size: 30px;
  color: black;
}

legend {
  font-size: 25px;
}

tr > td {
  font-size: 15px;
}

table {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: -webkit-gradient(linear, left bottom, left top, from(#3c92a3), color-stop(50%, #0e0e1c), to(#a33c9d));
  background: linear-gradient(0deg, #3c92a3 0%, #0e0e1c 50%, #a33c9d 100%);
  background-size: 150%;
  color: whitesmoke;
  margin: 10px 50px 10px 50px;
}

label {
  background: linear-gradient(97deg, black 0%, #753068 100%);
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 2px solid #5878ca;
  padding: 10px;
  margin: 6px auto;
}

input {
  font-size: 15px;
}

.botones {
  padding: 10px 10px 10px 10px;
}

.botones input {
  background: linear-gradient(97deg, black 0%, #753068 100%);
  color: white;
  font-family: sans-serif;
  padding: 8px;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  margin: 0 auto;
}

.contenedorImgContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.imagenContacto {
  height: 125px;
  margin-left: 50px;
  margin-bottom: 25px;
  margin-top: 25px;
  margin-right: 60px;
}

video {
  width: 300px;
  margin: 10px 20px 10px 20px;
}

.grid-conteiner div {
  padding: 1em;
}

.video {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.flex-item {
  margin: 7%;
  width: 35%;
}

.imagenproducto:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.grid-conteiner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1em;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formcontacto {
  padding: 16px 10px 16px 15px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.error {
  background-image: url(https://cdn2.vectorstock.com/i/1000x1000/36/96/404-error-blue-not-found-page-vector-18273696.jpg);
  background-position: inherit;
  background-size: 100%;
  text-align: center;
}

.error a {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 400;
  overflow: hidden;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 2px solid #5878ca;
  padding: 6px;
  margin: 0 auto;
}

.carousel {
  position: relative;
  display: none;
}

@media only screen and (min-width: 600px) {
  .flex-conteiner {
    margin-left: 100px;
  }
  .flex-item {
    margin: 5%;
    width: 20%;
  }
  video {
    width: 500px;
  }
  .logo {
    padding: 15px;
    height: auto;
  }
  .nosotros {
    margin: 60px 300px 75px 300px;
  }
  h1 {
    font-size: 60px;
  }
  .imagenContacto {
    height: 200px;
    margin-left: 0px;
    margin-bottom: 200px;
  }
  .contenedorForm {
    margin-right: 50px;
    margin-left: 50px;
  }
  .carousel {
    position: relative;
    display: block;
  }
  .formcontacto {
    padding-left: 50px;
    padding-right: 60px;
  }
}

@media only screen and (min-width: 1024px) {
  .flex-item {
    width: 20%;
  }
  .flex-item img {
    width: 250px;
    height: 250px;
  }
  .grid-conteiner {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 'video tabla';
  }
  video {
    width: 500px;
    margin-left: 100px;
  }
  .tabla {
    margin-right: 200px;
  }
  tr > td {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */